= provide(:title, "Home")
- if logged_in?
  .row 
    %aside.col-md-4
      %section.user_info
        = render 'shared/user_info'
    .col-md-8
      %h3 Last Added
      = render 'shared/feed' 
      
- else
  = provide(:title, "Home")
  .center.jumbotron
    %h1 Welcome to Autorulate

    %h2
      This is the home page for the Autorulate.
    = link_to "Sign up now", signup_path, class: "btn btn-lg btn-primary"
    
