%li{ id: "post#{post.id}" }
  = link_to gravatar_for(post.user, size: 50), post.user
  %span.post_title= link_to post.title, post_path(post)
  %span.content= post.content
  = image_tag display_image(post.images.first) if post.images.attached?
  %span.timestamp
    = "Posted #{time_ago_in_words(post.created_at)} ago."
    - if current_user?(post.user)
      = link_to "delete", post ,method: :delete, data: { confirm: "You sure?" }
    - else
      %span.favorite_link
        - if !current_user.favorites.include?(post)
          = link_to "add to favorites", add_to_favorites_post_path(post), method: :post, remote: true
        - else
          = link_to "remove from favorites", remove_from_favorites_post_path(post), method: :delete, remote: true