= provide(:title, "New Post")

= form_with(model: @post, method: :put, local: true) do |f|
  = render 'shared/error_messages', object: @post

  = f.label :title
  = f.text_field :title, class: "form-control", autocomplete: "off", required: true

  = f.label :location
  = f.text_field :location, class: "form-control", autocomplete: "off"

  = f.label :body
  = f.select :body, options_for_select(@body_type), {}, class: "form-control"

  = f.label :brand
  = f.text_field :brand, class: "form-control", autocomplete: "off", required: true

  = f.label :model
  = f.text_field :model, class: "form-control", autocomplete: "off"

  = f.label :year
  = f.number_field :year, class: "form-control", autocomplete: "off", required: true

  = f.label "Price(€)"
  = f.number_field :price, class: "form-control", autocomplete: "off", required: true

  = f.label :km
  = f.number_field :mileage, class: "form-control", autocomplete: "off", required: true

  = f.label :fuel_type
  = f.select :fuel, options_for_select(@fuel_type), {}, class: "form-control"

  = f.label "Engine Displacement (cc)"
  = f.number_field :cc, class: "form-control", autocomplete: "off", required: true

  = f.label :horsepower
  = f.number_field :power, class: "form-control", autocomplete: "off", required: true

  = f.label :transmition_type
  = f.select :transmition, options_for_select(@transmition_type), {}, class: "form-control"

  = f.label :gearbox_type
  = f.select :gearbox, options_for_select(@gearbox_type), {}, class: "form-control"

  = f.label :descritpion
  .field 
    = f.text_area :content, placeholder: "Add description...", class: "form-control", autocomplete: "off"

  .images
    - (0..9).each do |i|
      .image
        - img = "add-photo.png"
        - img = @post.images[i] if @post.images[i].present?
        - field_value = ""
        - field_value = @post.images[i] if @post.images[i].present?
        = image_tag(img, size: "200x200", id: "image-#{i}", onclick: "addPhoto(#{i})", style: "cursor:pointer")
        = f.file_field "images[#{i}]", multiple: false, accept: "image/jpeg,image/gif,image/png", class: "post_images", style: "display:none", id: "post-images-#{i}", onchange:"readURL(this, #{i})"
  = f.submit "Edit Post", class: "btn btn-primary"

:javascript
  $(".post_images").bind("change", function() {
    const size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert("Maximum file size is 5MB. Please choose a smaller file.");
      $("#post_image").val("");
    }
  });

  function addPhoto(i) {
    $("#post-images-" + i).trigger('click')
  }

  function readURL(input, i) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $('#image-' + i)
          .attr('src', e.target.result)
          .maxidth(200)
          .height(200);
      };

      reader.readAsDataURL(input.files[0]);
    }
  }