= provide(:title, "New Announcement")

= form_with(url: posts_path, method: :post, local: true) do |f|
  = render 'shared/error_messages', object: @post

  = f.label :title
  = f.text_field "post[title]", class: "form-control", autocomplete: "off", required: true

  = f.label :descritpion
  .field 
    = f.text_area "post[content]", placeholder: "Add car description...", class: "form-control", autocomplete: "off"

  = f.submit "Add Post", class: "btn btn-primary"