= provide(:title, @post.title)

.row
  %aside.col-md-3
    %section.user_info
      %h1
        = link_to gravatar_for(@post.user), @post.user
        %br
        = @post.user.name
        = @post.user.email
  .col-md-9
    .posts
      %span.post_title
        %h2= @post.title
      %h4.content= "Price: #{@post.price}€"
      %h4.content= "Year: #{@post.year}"
      %h4.content= "Location: #{@post.location || '-' }"
      .specs 
        %h4.spec.content= "Body: #{@post.body}"
        %h4.spec.content= "Brand: #{@post.brand}"
        %h4.spec.content= "Model: #{@post.model || '-' }"
        %h4.spec.content= "KM: #{@post.mileage}"
        %h4.spec.content= "Fuel: #{@post.fuel}"
        %h4.spec.content= "Engine Displacement (cc): #{@post.cc}"
        %h4.spec.content= "Horsepower: #{@post.power}"
        %h4.spec.content= "Gearbox: #{@post.gearbox}"
        %h4.spec.content= "Transmition: #{@post.transmition}"
      - if @post.content.present?
        %h4.content= "Description:" 
        %h5.content= @post.content
      - if current_user.present?
        - if current_user?(@post.user) || current_user.admin?
          .content
            = link_to raw("<i class='fas fa-edit'></i> <span> Edit </span>"), edit_post_path(@post)
            = " | "
            = link_to raw("<i class='fa fa-trash' aria-hidden='true'></i> <span> Delete </span>"), @post ,method: :delete, data: { confirm: "You sure?" }
    -#  
      - if @post.images.attached?
        .images  
          - @post.images.each_with_index do |p, i| 
            .image
              = image_tag(display_image(p), onclick: "openModal(); currentSlide(#{i + 1})", class: "hover-shadow")
    - if @post.images.attached?
      .slideshow-container
        - @post.images.each_with_index do |p, i| 
          .mySlides
            .numbertext= "#{i + 1}/#{@post.images.size}"
            = image_tag(display_image(p, 850))
        %a.prev{:onclick => "plusSlides(-1)"} ❮
        %a.next{:onclick => "plusSlides(1)"} ❯
      %div{ style: "text-align:center"}
        - @post.images.each_with_index do |p, i| 
          %span.dot{onclick: "currentSlide(#{i + 1})"}

:javascript
  let slideIndex = 1;
  showSlides(slideIndex);

  // Next/previous controls
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  // Thumbnail image controls
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    let i;
    let slides = document.getElementsByClassName("mySlides");
    let dots = document.getElementsByClassName("dot");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
  }

