= provide(:title, @post.title)

= link_to gravatar_for(@post.user, size: 50), @post.user
.posts 
  %span.post_title
    %h2= @post.title
  %h4.content= "Price: #{@post.price}"
  %h4.content= "Year: #{@post.year}"
  .specs 
    %h4.spec.content= "Location: #{@post.location || '-' }"
    %h4.spec.content= "Brand: #{@post.brand}"
    %h4.spec.content= "Model: #{@post.model || '-' }"
    %h4.spec.content= "KM: #{@post.mileage}"
    %h4.spec.content= "Fuel: #{@post.fuel}"
    %h4.spec.content= "Gearbox: #{@post.gearbox}"
    %h4.spec.content= "Transmition: #{@post.transmition}"
  
  %h4.content= "Description: #{@post.content}"

  - if @post.images.attached?
    .images  
      - @post.images.each_with_index do |p, i| 
        .image
          = image_tag(display_image(p), onclick: "openModal(); currentSlide(#{i + 1})", class: "hover-shadow")
